@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

body {
    font-family: 'Calibri';
}

.hello {
    color: blue;
}